section.wrapper.grid-span
  .row
    .column-3
      span 3
    .column-3
      span 3
    .column-6
      span 6
  .row
    .column-4
      span 4
    .column-4
      span 4
    .column-4
      span 4
  .row
    .column-2
      span 2
    .column-2
      span 2
    .column-1
      span 1
    .column-4
      span 4
    .column-1
      span 1
    .column-1
      span 1
    .column-1
      span 1
  .row
    .column-12
      span 12
