doctype html
html
  include ../includes/head.pug
  
  body
    include ../includes/nav.pug
    h1 home page !!!!
    //- include ../includes/pages/for-loop.pug
    include ../includes/pages/spacing-helper.pug
    
    include ../includes/foot.pug
