@import "./function";
@import "./mixin";

// creating dark and light theme
.theme {
  background-color: theme-color(); // "primary base" color;
  border: 1px solid theme-color("foreground", "light"); // "foreground light" color;
}

#app-root {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;

  > div {
    display: flex;
    flex: 1;
  }
}

body {
  margin: 0;
}

html,
body {
  height: 100%;
}

.app-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;

  .title {
    font-family: sans-serif;
    font-weight: lighter;
  }

  @include themify($themes) {
    color: themed("textColor");
    background-color: themed("backgroundColor");
  }

  h1 {
    margin-bottom: 20px;
  }

  .button {
    cursor: pointer;
    border-radius: 5px;
    padding: 15px 32px;
    display: inline-block;
    transition: color 0.1s, border-color 0.1s, background-color 0.1s;

    @include themify($themes) {
      border: themed("buttonBorder");
      color: themed("buttonTextColor");
      border-color: themed("buttonTextColor");
      background-color: themed("buttonColor");
      text-transform: themed("buttonTextTransform");

      &:hover {
        color: themed("buttonTextHoverColor");
        border-color: themed("buttonTextHoverColor");
        background-color: themed("buttonHoverColor");
      }
    }
  }
}
